.navLink {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 0 10px #7A8291;
}

.navLink:hover {
  font-size: 22px;
  transform: scale(1.08);
  text-decoration: underline;
}

