.useMenuWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;
}

.greetText {
  color: #fff;
  text-shadow: 1px 0 10px #7A8291;
}

.logOutBtn{
  padding: 8px 8px;
  font-weight: 500;
  font-size: 16px;
  color: #4D576C;
  background-color: #c7d2dc;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 12px #212121;
}

.logOutBtn:hover {
  color: #c7d2dc;
  text-shadow: 1px 0 10px #d8e4eb;
  background-color: #566178;
  box-shadow: 0px 4px 12px #fff;
  letter-spacing: 0.5px;
  transform: scale(1.08);
}
